html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: #1a1a1a;
  color: #e6e6e6;
}

a {
  color: #e6e6e6;
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.headline {
  font-size: 30px;
  font-weight: bold;
  color: #909cb6;
  margin-bottom: 30px;
}

#header {
  background-color: rgba(38, 53, 73, 0.3);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#logo {
  font-family: "Black Ops One", sans-serif;
  font-size: 60px;
  -webkit-box-ordinal-group: 3;
          order: 2;
  align-self: center;
  margin-bottom: 60px;
  margin-top: 40px;
}

#burger {
  align-self: left;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#burger:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#burger.rotated {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#mainNav {
  display: none;
}

#mainNav.visible {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

#mainNav.visible li a {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#mainNav.visible li a:hover {
  color: #0191ff;
}

#welcome {
  color: #909cb6;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: light;
}

#wallCon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

#newMessageCon {
  border: 1px solid #0191ff;
  padding: 30px;
  width: 80vw;
  margin-bottom: 30px;
}

#newMessageCon h2 {
  color: #909cb6;
}

#newMessageCon form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#newMessageCon form label {
  color: #909cb6;
  font-weight: light;
}

#newMessageCon form textarea {
  background-color: rgba(230, 230, 230, 0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}

#newMessageCon form button {
  width: 80px;
  align-self: flex-end;
  background-color: #0191ff;
  border: 1px solid #0191ff;
  color: #e6e6e6;
  padding: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#newMessageCon form button:hover {
  background-color: #1a1a1a;
  border: 1px solid #0191ff;
}

.messageCard {
  width: 80vw;
  margin-bottom: 30px;
}

.messageName {
  color: #909cb6;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  border-top: 1px solid #0191ff;
  border-right: 1px solid #0191ff;
  border-left: 1px solid #0191ff;
  background-color: rgba(230, 230, 230, 0.1);
}

.messageText {
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #0191ff;
  border-right: 1px solid #0191ff;
  border-left: 1px solid #0191ff;
  background-color: rgba(230, 230, 230, 0.1);
}

.messageTime {
  font-size: 11px;
  color: #909cb6;
  font-weight: light;
  margin-top: 8px;
}

